#reply-control.composer-action-shared-edit {
  .save-or-cancel {
    button,
    a {
      display: none;
    }
  }

  .title-and-category,
  .composer-actions {
    display: none;
  }

  .d-editor-preview-wrapper {
    margin-top: 0;
  }
}
